.Banner {
  width: 100%;
  height: 6.9375rem;
  margin-bottom: 1.375rem;
  align-items: center;

  display: grid;
}

.Banner__background-image {
  width: inherit;
  height: inherit;

  grid-column: 1;
  grid-row: 1;

  filter: brightness(150%);
  z-index: -1;
}

.Banner__background-image img {
  height: inherit;
  width: inherit;

  object-fit: cover;
  filter: brightness(40%);
  border-radius: var(--rounded-square);
}

.Banner__caption {
  height: auto;
  margin: 0;
  margin-left: 1rem;
  width: 14.5rem;

  font-size: var(--mobile-font-size-24px-in-rem);
  text-align: left;

  grid-column: 1;
  grid-row: 1;

  color: rgb(var(--tertiary-color));
  z-index: 1;
}

@media (min-width: 500px) {
  .Banner {
    justify-items: center;
  }

  .Banner__caption {
    width: auto;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .Banner {
    height: 13.9375rem;
  }

  .Banner__caption {
    font-size: var(--desktop-font-size-48px-in-rem);
  }
}

