.Footer {
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 3.875rem 2rem;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;

  background-color: rgb(var(--quaternary-color));
}

.Footer__logo {
  width: 7.625rem;
  height: 2.465rem;
}

.Footer__copyright {
  width: max-content;
  height: 2.875rem;

  margin-block: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-size: var(--mobile-font-size-12px-in-rem);

  color: rgb(var(--tertiary-color));
}

@media (min-width: 700px) {
  .Footer {
    padding-block: 4.125rem 1.8125rem;
  }
}

@media (min-width: 992px) {
  .Footer__logo {
    margin-bottom: 1.785rem;
  }

  .Footer__copyright {
    font-size: var(--desktop-font-size-24px-in-rem);
  }
}
